<ion-tab-bar [selectedTab]="tab" flex-between-center>
    <ion-tab-button tab="common" (click)="changeTab('common')">
        <ion-icon name="settings-sharp"></ion-icon>
        <ion-label>{{CTEXTS.OPTIONS.tabcommon | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="roll" (click)="changeTab('roll')">
        <ion-icon name="desktop-sharp"></ion-icon>
        <ion-label>{{CTEXTS.OPTIONS.tabroll | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="audio" (click)="changeTab('audio')">
        <ion-icon name="mic-sharp"></ion-icon>
        <ion-label>{{CTEXTS.OPTIONS.tabaudio | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="close" (click)="close()" class="np-close-btn">
        <ion-icon name="close-sharp"></ion-icon>
    </ion-tab-button>
</ion-tab-bar>
<div class="scroll">
    <div [hidden]="tab !== 'roll'">
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.UI.title" [subline]="CTEXTS.OPTIONS.UI.subtitle" [open]="true" headerClickOnly="true">
            <np-pad-panel label="Presets" class="text-btns">
                <np-mpc-pad label="xs" (click)="applyPreset('xs')"></np-mpc-pad>
                <np-mpc-pad label="s" (click)="applyPreset('s')"></np-mpc-pad>
                <np-mpc-pad label="m" (click)="applyPreset('m')"></np-mpc-pad>
                <np-mpc-pad label="l" (click)="applyPreset('l')"></np-mpc-pad>
                <np-mpc-pad label="xl" (click)="applyPreset('xl')"></np-mpc-pad>
                <np-mpc-pad label="xxl" (click)="applyPreset('xxl')"></np-mpc-pad>
            </np-pad-panel>
            <app-options-ui-panel></app-options-ui-panel>
        </np-toggle-panel>
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.PIANOROLL.title" [subline]="CTEXTS.OPTIONS.PIANOROLL.subtitle" [open]="false" headerClickOnly="true">
            <app-options-roll-panel></app-options-roll-panel>
        </np-toggle-panel>
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.EXTRA.title" [subline]="CTEXTS.OPTIONS.EXTRA.subtitle" [open]="false" headerClickOnly="true">
            <app-options-extra-panel></app-options-extra-panel>
        </np-toggle-panel>
    </div>
    <div [hidden]="tab !== 'audio'">
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.AUDIO.title" [subline]="CTEXTS.OPTIONS.AUDIO.subtitle" headerClickOnly="true">
            <app-options-audio-panel></app-options-audio-panel>
        </np-toggle-panel>
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.AUDIO.titlemidi" [subline]="CTEXTS.OPTIONS.AUDIO.subtitlemidi" headerClickOnly="true">
            <np-midi-device-info></np-midi-device-info>
        </np-toggle-panel>
    </div>
    <div [hidden]="tab !== 'common'">
        <np-toggle-panel [headline]="CTEXTS.OPTIONS.COMMON.title" [subline]="CTEXTS.OPTIONS.COMMON.subtitle" headerClickOnly="true">
            <ion-list class="np-audio-device-panel-inlay">
                <ion-item>
                    <ion-label>{{CTEXTS.OPTIONS.COMMON.language | translate}}</ion-label>
                    <ion-select [value]="options.get$.language | async" (ionChange)="changeLanguage($event.detail.value)">
                        <ion-select-option value="en">{{CTEXTS.OPTIONS.COMMON.lang_en | translate}}</ion-select-option>
                        <ion-select-option value="de">{{CTEXTS.OPTIONS.COMMON.lang_de | translate}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </np-toggle-panel>

    </div>
</div>


