<np-panel-rack>
  <app-toolbar np-toolbar currentPage="Theory"
    [headline]="CTEXTS.PAGES.theory"
    [subline]="CTEXTS.PAGES.theory_sub"
   />

  @for (bundle of lessonBundles; track bundle) {
    <np-toggle-panel
      [open]="tab === bundle.pack" [slow]="true"
      [headline]="bundle.name" [subline]="bundle.sub">
      <np-pad-panel np-fixed label="...click to toggle">
        <np-mpc-pad class="no-labels blue lit" icon="ribbon-sharp" (click)="navService.goToLessons($event, bundle.pack)" />
        <np-mpc-pad class="no-labels red lit" icon="musical-note-sharp" (click)="navService.goToPractice($event, bundle)" />
      </np-pad-panel>
      <hr class="np-hr">
      <div [innerHtml]="bundle.pack | translateTheory" class="theory-text"></div>
      <hr class="np-hr with-margin">
    </np-toggle-panel>
  }

</np-panel-rack>
