<np-panel-rack>
  @if (options.get$.toolbar | async) {
    <app-toolbar np-toolbar [open]="false"
      [currentPage]="lessonService.isFreeplay ? 'Freeplay': 'Practice'"
      [headline]="(lessonService.isFreeplay ? CTEXTS.PAGES.freeplay : CTEXTS.PAGES.practice) | translate"
      [subline]="(lessonService.isFreeplay ? CTEXTS.PAGES.freeplay_sub : CTEXTS.PAGES.practice_sub) | translate"
    ></app-toolbar>
  }
  @if ((options.get$.infodisplays | async) || (options.get$.maindisplay | async)) {
    <app-display-panel></app-display-panel>
  }
  @if ((options.get$.mpcpads|async) && !lessonService.isFreeplay) {
    <app-practice-panel></app-practice-panel>
  }
  @if (npPianoRoll.cover$.visible | async) {
    <app-piano-roll-cover-panel [keys]="keys"></app-piano-roll-cover-panel>
  }
  @if (npPianoRoll.display$.visible | async) {
    <np-piano-roll-display [keys]="keys"></np-piano-roll-display>
  }
  @if (npPianoRoll.pianoroll$.visible | async) {
    <np-piano-roll [keys]="keys"
      [notes]="npPianoRoll.pianoroll$.notes | async"
      [fingerset]="npPianoRoll.pianoroll$.fingerset | async"
      [octave]="npPianoRoll.pianoroll$.octave | async"
      [lightup]="npPianoRoll.pianoroll$.lightup | async"
      [pressedByEvent]="npPianoRoll.pianoroll$.playing | async"
      (npPressNote)="npPianoRoll.pressNote($event)"
      (npReleaseNote)="npPianoRoll.releaseNote($event)"
    ></np-piano-roll>
  }
</np-panel-rack>
