<np-panel-rack>
    <app-toolbar np-toolbar *ngIf="options.get$.toolbar | async" [open]="false"
                 [currentPage]="lessonService.isFreeplay ? 'Freeplay': 'Practice'"
                 [headline]="(lessonService.isFreeplay ? CTEXTS.PAGES.freeplay : CTEXTS.PAGES.practice) | translate"
                 [subline]="(lessonService.isFreeplay ? CTEXTS.PAGES.freeplay_sub : CTEXTS.PAGES.practice_sub) | translate"
    ></app-toolbar>
    <app-display-panel *ngIf="(options.get$.infodisplays | async) || (options.get$.maindisplay | async)"></app-display-panel>
    <app-practice-panel *ngIf="(options.get$.mpcpads|async) && !lessonService.isFreeplay"></app-practice-panel>
    <app-piano-roll-cover-panel *ngIf="npPianoRoll.cover$.visible | async" [keys]="keys"></app-piano-roll-cover-panel>
    <np-piano-roll-display [keys]="keys" *ngIf="npPianoRoll.display$.visible | async"></np-piano-roll-display>
    <np-piano-roll [keys]="keys" *ngIf="npPianoRoll.pianoroll$.visible | async"
                   [notes]="npPianoRoll.pianoroll$.notes | async"
                   [fingerset]="npPianoRoll.pianoroll$.fingerset | async"
                   [octave]="npPianoRoll.pianoroll$.octave | async"
                   [lightup]="npPianoRoll.pianoroll$.lightup | async"
                   [pressedByEvent]="npPianoRoll.pianoroll$.playing | async"
                   (npPressNote)="npPianoRoll.pressNote($event)"
                   (npReleaseNote)="npPianoRoll.releaseNote($event)"
    ></np-piano-roll>
</np-panel-rack>
