<np-panel-rack>
    <app-toolbar np-toolbar currentPage="Lessons"
                 [headline]="CTEXTS.PAGES.lessons | translate"
                 [subline]="CTEXTS.PAGES.lessons_sub"
    ></app-toolbar>

    <np-toggle-panel *ngFor="let pack of lessonPacks"
                     headline="{{pack.name}}"
                     subline="{{pack.sub}}"
                     [open]="(tab === pack.pack)"
                     [headerClickOnly]="true">
        <np-pad-panel np-fixed label="...click to toggle">
            <np-mpc-pad class="no-labels teal lit" icon="newspaper-sharp" (click)="navService.goToTheory($event,pack.pack)"></np-mpc-pad>
            <np-mpc-pad class="no-labels red lit" icon="musical-note-sharp" (click)="navService.goToPractice($event, pack)"></np-mpc-pad>
        </np-pad-panel>
            <hr class="np-hr">
        <np-pad-panel class="lessons">
            <div flex-row-100 flex-start-stretch flex-wrap>
                <ng-container *ngFor="let lesson of pack.bundle.lessons">
                    <np-mpc-pad *ngFor="let part of lesson.parts" [label]="lesson | lessonName:part:true" class="multiline-label" (click)="navService.goToPractice($event, pack, lesson)"></np-mpc-pad>
                </ng-container>
            </div>
        </np-pad-panel>
    </np-toggle-panel>
</np-panel-rack>
