<ion-menu side="start" menuId="first" contentId="main">
  <ion-content>
    <np-panel-rack class="np-menu-rack">
      <ion-item class="np-brand">
        <ion-menu-toggle class="close-btn">
          <ion-button class="np-close-btn" fill="clear">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <ion-label>np25Keys
          <p class="np-brand-sub">...npAfterworks proudly presents</p>
        </ion-label>
      </ion-item>

      @for (item of ROUTES; track item) {
        <ion-menu-toggle>
          <ion-item button (click)="navService.goToRoute(item.ROUTE, null)">
            <ion-icon slot="start" [name]="item.ICON"></ion-icon>
            {{item.LABEL | translate}}
          </ion-item>
        </ion-menu-toggle>
      }
      <ion-item button (click)="navService.goToSettings('common', null)">
        <ion-icon slot="start" name="options-sharp"></ion-icon>
        {{CTEXTS.ROUTES.settings | translate}}
      </ion-item>
    </np-panel-rack>
  </ion-content>
</ion-menu>
<ion-menu side="end" menuId="options" contentId="main">
  <ion-content>
    <np-panel-rack class="np-options-rack">
      <app-options-panel></app-options-panel>
    </np-panel-rack>
  </ion-content>
</ion-menu>

