@if (optionsService.get$.infodisplays | async) {
  <div flex-row flex-between-center>
    <np-retro-display flex-item class="small" [scanlines]="optionsService.get$.scanlines | async" (click)="lessonsService.toggleLeftDisplayMode()">
      {{lessonsService.texts$.leftInfo | async}}
    </np-retro-display>
    <np-retro-display flex-item class="small" [scanlines]="optionsService.get$.scanlines | async" (click)="lessonsService.toggleRightDisplayMode()">
      {{lessonsService.texts$.rightInfo | async}}
    </np-retro-display>
  </div>
}
@if (optionsService.get$.maindisplay | async) {
  <np-retro-display
    class="main-display multi-line"
    [multiline]="true"
    [minLines]="2"
    (click)="lessonsService.toggleMainDisplayMode()"
    [scanlines]="optionsService.get$.scanlines | async"
    [class.standalone]="!(optionsService.get$.infodisplays | async)"
    >
    <div class="played-notes" >
      @for (pressed of (lessonsService.pressed$ | async); track pressed) {
        <div>{{pressed.noteName}}</div>
      }
    </div>
    <div class="info-lines">
      @for (line of (lessonsService.texts$.mainInfo | async); track line; let idx = $index) {
        <div [innerHTML]="line"
          [class.one-line-max]="idx >= 2"
          [class.two-lines-max]="(idx == 1)"
        ></div>
      }
    </div>
    <div class="display-frame">
      <div class="played-notes">
        <span>{{CTEXTS.DISPLAY.playing | translate}}</span>
      </div>
      <div class="info-lines">
        <span>{{lessonsService.texts$.mainMode | async}}</span>
      </div>
    </div>
  </np-retro-display>
}
